@font-face {
  font-family: interbold;
  src: url(../assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: interlight;
  src: url(../assets/fonts/Inter-Light.ttf);
}

@font-face {
  font-family: interextrabold;
  src: url(../assets/fonts/Inter-ExtraBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* Header */

header {
  font-family: interbold;
  background-color: #232323;
  padding: 30px 20px 20px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header li {
  display: inline;
  margin-left: 20px;
}

header li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 12px;
  font-size: 1em;
}

header li a:hover {
  color: orange;
}

header a img {
  height: 45px;
  width: 70px;
  float: left;
  margin-top: -10px;
}

.socialIconsHeader {
  float: right;
  margin-top: -30px;
}

.socialIconsHeader a {
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}

.socialIconsHeader a i {
  font-size: 2em;
  color: white;
}

.socialIconsHeader a:hover i {
  color: black;
}

/* Main */

main {
  margin-top: 95px;
  margin-bottom: 10px;
}

/* Match Live */

.matchContainer {
  width: 97%;
  margin-left: 20px;
  align-items: center;
}

.match {
  background-image: url(https://swall.teahub.io/photos/small/32-325958_black-backgrounds-wallpaper-cool-wallpapers-gallery-giant-black.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  font-family: interbold;
  border-radius: 20px;
}

.match-header {
  display: flex;
  padding: 16px;
  color: white;
}

#match-status {
  background-color: white;
  opacity: 0.9;
  color: red;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-right: auto;
  &:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 8px;
  }
}

#match-tournament {
  display: flex;
  align-items: center;
  font-weight: 600;
  img {
    width: 20px;
    margin-right: 12px;
  }
}

.match-content {
  display: flex;
  position: relative;
}

.match-column {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.team-logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 130px;
  }
}

#team-name {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#match-date {
  font-size: 14px;
  color: white;
}

.match-score {
  margin-top: 12px;
  display: flex;
  align-items: center;
  color: white;
}

#match-score-number {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: white;
}

#match-score-divider {
  font-size: 28px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

#match-time-lapsed {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  color: red;
}

#match-referee {
  color: white;
}

/* Latest News */

.newsContainer {
  margin-top: 25px;
  font-family: interextrabold;
  text-transform: uppercase;
}

.newsContainer img {
  width: 100%;
  height: 100%;
}

.newsContainer a {
  color: black;
  text-decoration: none;
}

.newsContainer a:hover {
  color: orange;
}

.news-text {
  position: absolute;
  top: 130%;
  right: 45%;
  text-align: center;
  color: white;
  font-size: 30px;
}

/* Vote and Watch Lakers */

.vote-and-watchContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.image-vote-and-watch img {
  width: 600px;
  height: 350px;
}

.image-vote-and-watch h2 {
  margin-top: 20px;
  font-family: interextrabold;
}

.image-vote-and-watch p {
  margin-top: 20px;
  font-family: interlight;
}

.image-vote-and-watch button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #232323;
  border: none;
  font-size: 17px;
  padding: 12px 24px;
}

.image-vote-and-watch button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: interextrabold;
}

.image-vote-and-watch button a:hover {
  color: orange;
}

/* Latest Videos */

.latest-videosContainer {
  margin-top: 120px;
  background-color: #232323;
  height: 650px;
}

.latest-videosContainer .video-container {
  position: relative;
}

.latest-videosContainer h1 {
  text-transform: uppercase;
  font-family: interextrabold;
  color: white;
  font-size: 40px;
  margin-left: 25px;
  margin-top: 50px;
  position: absolute;
}

.latest-videosContainer video {
  margin-top: 50px;
  margin-left: 400px;
}

/* Lakers Shop */

.lakers-shopContainer {
  margin-top: 100px;
  display: flex;
}

.lakers-shop img {
  width: 350px;
  height: 200px;
  margin-left: 45px;
}

.lakers-shop button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #232323;
  border: none;
  font-size: 17px;
  padding: 12px 24px;
  margin-left: 100px;
}

.lakers-shop button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: interextrabold;
}

.lakers-shop button a:hover {
  color: orange;
}

/* Plays and Tickets */

.plays-and-ticketsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 170px;
  background-color: #232323;
  height: 700px;
  text-align: center;
}

.plays-and-tickets img {
  margin-top: 100px;
  width: 600px;
  height: 350px;
}

.plays-and-tickets h2 {
  margin-top: 20px;
  font-family: interextrabold;
  color: white;
}

.plays-and-tickets p {
  color: white;
  margin-top: 20px;
  font-family: interlight;
}

.plays-and-tickets button {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #111;
  border: none;
  font-size: 17px;
  padding: 12px 24px;
}

.plays-and-tickets button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: interextrabold;
}

.plays-and-tickets button a:hover {
  color: orange;
}

/* Footer */

footer {
  background-color: #232323;
}

.footerContainer {
  width: 100%;
  padding: 70px 20px 20px;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  font-family: interbold;
}

.footerNav ul li a:hover {
  color: orange;
}

#footerBottom {
  color: white;
  padding: 10px;
  font-size: 10px;
  font-family: interlight;
}

.socialIconsFooter {
  display: flex;
  justify-content: center;
}

.socialIconsFooter a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.socialIconsFooter a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.socialIconsFooter a:hover {
  background-color: #111;
}

.socialIconsFooter a:hover i {
  color: white;
}
